@font-face {
  font-family: "iconfont"; /* Project id 3555182 */
  src: url('iconfont.woff2?t=1678522287826') format('woff2'),
       url('iconfont.woff?t=1678522287826') format('woff'),
       url('iconfont.ttf?t=1678522287826') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daifahuo1:before {
  content: "\e648";
}

.icon-daifukuan1:before {
  content: "\e64a";
}

.icon-daishouhuo1:before {
  content: "\e64e";
}

.icon-yiwancheng:before {
  content: "\e72d";
}

.icon-daishouhuo:before {
  content: "\fec3";
}

.icon-daifahuo:before {
  content: "\fec4";
}

.icon-daifukuan:before {
  content: "\fec5";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-xiaoxizhongxin:before {
  content: "\e63c";
}

.icon-jiankangbaike:before {
  content: "\e691";
}

.icon-shouye:before {
  content: "\e629";
}

.icon-yiliao_jibingbaike:before {
  content: "\e63b";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-eye1:before {
  content: "\e613";
}

.icon-loading1:before {
  content: "\e61c";
}

.icon-loading:before {
  content: "\e644";
}

.icon-QQ:before {
  content: "\e65e";
}

.icon-jiantoushang:before {
  content: "\e62d";
}

.icon-jiantouxia:before {
  content: "\e62e";
}

.icon-xiajiantou:before {
  content: "\e606";
}

.icon-shangjiantou:before {
  content: "\e604";
}

.icon-shangjiantou1:before {
  content: "\eb6d";
}

.icon-weixinzhifu:before {
  content: "\e607";
}

.icon-zhifubao:before {
  content: "\e608";
}

.icon-anzhuologo:before {
  content: "\e679";
}

.icon-sey-talk-b:before {
  content: "\e667";
}

.icon-talk:before {
  content: "\e7b1";
}

.icon-liwuhuodong:before {
  content: "\e602";
}

.icon-31dingwei:before {
  content: "\e603";
}

.icon-15tianbaotui01:before {
  content: "\e688";
}

.icon-7tianbaotui:before {
  content: "\e6cc";
}

.icon-xiuli:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-mobile:before {
  content: "\e7d6";
}

.icon-jiantou:before {
  content: "\e662";
}

.icon-gouwuche:before {
  content: "\e61e";
}

.icon-ambitus02:before {
  content: "\e600";
}

.icon-ambitus03:before {
  content: "\e601";
}

